* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    font-family: Arial, Sans-Serif;
    font-size: 32px;
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);
    font-weight: 700;
}
.content {
    padding: 0 20px;
    margin: 50px auto 0;
}
@media (min-width: 600px) {
    .content {
        width: 550px;
    }
}
/* style header calc */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 150px;
}
.theme small {
    font-size: 17px;
    text-transform: uppercase;
}
.theme .checnum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 0 8px 0 8px;
}

.theme .chec {
    background-color: hsl(0, 5%, 81%);
    padding: 5px;
    border-radius: 100px;
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chec input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
}

.chec input[type="radio"]:checked {
    background-color: hsl(25, 98%, 40%);
    border-color: hsl(25, 98%, 40%);
}
.chec input[type="radio"]:checked:hover {
    background-color: #fd8835;
    border-color: #fd8835;
}

/* style input calc */
.input {
    width: 100%;
    height: 100px;
    margin: 2pc 0;
}
.input #inputCalc {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 93%);
    border: none;
    border-radius: 10px;
    color: hsl(60, 10%, 19%);
    padding: 10px;
    font-size: 32px;
}

/* style button calc */

.button {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    background-color: hsl(0, 5%, 81%);
    border-radius: 10px;
}
.button button {
    height: 60px;
    padding: 0 2px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    font-size: 25px;
    color: hsl(221, 14%, 31%);
    background-color: #e4e0dd;
    box-shadow: 0 4px 1px hsl(35, 11%, 61%);
    transition: 0.5s;
}
.button button:hover {
    background-color: hsl(0, 0%, 90%);
}
.button #equal {
    grid-column: 3/5;
    color: hsl(0, 100%, 100%);
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0 4px 1px hsl(25, 99%, 27%);
    order: 18;
}
.button #equal:hover {
    background-color: #fd8835;
}
.button #reset {
    grid-column: 1/3;
    color: hsl(0, 100%, 100%);
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 4px 1px hsl(185, 58%, 25%);
    order: 17;
}
.button #del {
    color: hsl(0, 100%, 100%);
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 4px 1px hsl(185, 58%, 25%);
    order: 4;
}
.button #reset:hover,
.button #del:hover {
    background-color: hsl(185, 42%, 50%);
}
.button #zero {
    order: 14;
}
.button #one {
    order: 9;
}
.button #two {
    order: 10;
}
.button #three {
    order: 11;
}
.button #four {
    order: 5;
}
.button #five {
    order: 6;
}
.button #six {
    order: 7;
}
.button #seven {
    order: 1;
}
.button #eight {
    order: 2;
}
.button #nine {
    order: 3;
}
.button #posi {
    order: 8;
}

.button #nega {
    order: 12;
}
.button #decimal {
    order: 13;
}
.button #division {
    order: 15;
}
.button #multiplied {
    order: 16;
}
